* {
    box-sizing: border-box;
}


/* fonts ==========================================================================================*/

@font-face {
    font-family: oxygenB;
    src: url(../fonts/Oxygen-Bold.otf);
}

@font-face {
    font-family: oxygenR;
    src: url(../fonts/Oxygen.otf);
}

@font-face {
    font-family: montB;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montM;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montR;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: robotoR;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoB;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

html {
    min-width: 100%;
    min-height: 100%;
    max-height: 900px !important;
}

body {
    overflow: visible !important;
    overflow-x: hidden !important;
    overflow-y: hidden;
    margin: 0;
    height: 636px;
    max-height: 900px !important;
    width: 100vw;
}


/* side bar ==========================================================================================*/

.sidebar {
    float: left;
    background-color: #060608;
    width: 88px;
    height: 100vh;
    text-align: center;
}

.sidebar-upper-space {
    padding-top: 40px;
}

.sidebar-upper-space img {
    width: 40px;
    height: 40px;
}

.sidebar-upper-space img:hover {
    cursor: pointer;
}

.sidebar-socials {
    height: 300px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: start;
    font-size: 35px;
}

.fa {
    font-size: 160px;
    margin: 3vh 0;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.fa-instagram {
    background: linear-gradient(45deg, red, orange, yellow);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa-facebook {
    background: linear-gradient(45deg, blue, #00ffd5);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa-linkedin {
    background: linear-gradient(45deg, white, #002bff);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa-envelope {
    background: linear-gradient(45deg, #48ff00, yellow);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa:hover {
    cursor: pointer;
    color: transparent;
    transition: 320ms ease;
}


/* content ==========================================================================================*/

#main {
    display: block;
}

.main {
    float: left;
    background-color: white;
}

.main-upper-space {
    height: 120px;
    padding-top: 40px;
    padding-left: 80px;
}

.main-upper-text {
    font-size: 36px;
    font-family: robotoR;
}

.main-text-space {
    padding-left: 80px;
    font-family: oxygenB;
}

.main-text-space p {
    width: 600px;
    margin-top: 0px;
}

.main-text-space h1 {
    font-family: oxygenB;
    font-size: 80px;
    margin: 0;
    line-height: 80px;
}

.main-text-space h2 {
    font-family: oxygenB;
    font-size: 62px;
    margin: 0;
}

.main-text-space h3 {
    font-family: oxygenB;
    font-size: 42px;
    margin: 0;
}

.main-button-space {
    padding-left: 80px;
    margin-top: 26px;
}

.main-primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 54px;
    width: 180px;
    background-color: #060608;
    border: 4px solid #060608;
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: robotoB;
}

.main-primary-button:after {
    background-color: #060608;
}

.main-secondary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 54px;
    width: 180px;
    border: 4px solid #060608;
    font-size: 24px;
    font-family: robotoB;
    margin-bottom: 20px;
}

.main-secondary-button:after {
    background-color: white;
}


/* glow anim ==========================================================================================*/

.glow-on-hover {
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


/* sections ==========================================================================================*/

#about {
    display: none;
}

#projects {
    display: none;
}

#contact {
    display: none;
}


/* about ==========================================================================================*/

.about-us-space {
    display: flex;
    justify-content: start;
    align-items: center;
}

.about-us-next {
    width: 50px;
    font-size: 62px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-image: repeating-linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 600% 600%;
    animation: rainbow 8s ease infinite; */
    cursor: pointer;
}

.about-sections {
    display: none;
    width: 620px;
    height: 230px;
    /* border-right: 3px solid #060608; */
}

.about-sections p {
    margin-bottom: 0px;
}

.tree {
    margin-top: 8px;
    display: flex;
}

.tree-line {
    width: 3px;
    height: 140px;
    background-color: #060608;
}

.tree-branch-section {
    width: 40px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tree-branch-line {
    height: 3px;
    width: 40px;
    background-color: #060608;
}

.tree-branch-content {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tree-branch-content-text {}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 25%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* slides ==========================================================================================*/

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

.slideshow-container {
    margin-top: 30px;
    border: 3px solid #060608;
    width: 450px;
    height: 230px;
    position: relative;
}

.slideshow-container img {
    width: 450px;
    height: 224px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    background-color: #060608;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    color: grey;
}

.text-wrapper {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.text {
    background-color: #060608;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 54px;
    width: 180px;
    font-size: 24px;
    font-family: robotoB;
}

.numbertext {
    color: #060608;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


/* resize ==========================================================================================*/

@media only screen and (max-width: 1060px) {
    .main-text-space h1 {
        font-family: oxygenB;
        font-size: 60px;
        margin: 0;
        line-height: 80px;
    }
    .main-text-space h2 {
        font-family: oxygenB;
        font-size: 42px;
        margin: 0;
    }
}

@media only screen and (max-width: 860px) {
    .about-sections {
        display: none;
        width: 520px;
        height: initial;
        border-right: 3px solid #060608;
    }
    .main-text-space p {
        width: 500px;
        margin-top: 0px;
    }
    .main-text-space {
        padding-left: 50px;
        font-family: oxygenB;
    }
    .main-upper-space {
        height: 120px;
        padding-top: 50px;
        padding-left: 40px;
    }
    .main-button-space {
        height: 120px;
        padding-left: 50px;
        margin-top: 32px;
    }
    .main-text-space h1 {
        font-family: oxygenB;
        font-size: 50px;
        margin: 0;
        line-height: 80px;
    }
    .main-text-space h2 {
        font-family: oxygenB;
        font-size: 36px;
        margin: 0;
    }
}

@media only screen and (max-width: 710px) {
    .slideshow-container {
        margin-top: 30px;
        border: 3px solid #060608;
        width: 350px;
        height: 160px;
        position: relative;
    }
    .slideshow-container img {
        width: 350px;
        height: 154px;
    }
    .main-upper-text {
        font-size: 30px;
        font-family: robotoR;
    }
    .main-text-space {
        padding-left: 40px;
        font-family: oxygenB;
    }
    .main-upper-space {
        height: 120px;
        padding-top: 40px;
        padding-left: 40px;
    }
    .main-button-space {
        height: 120px;
        padding-left: 40px;
        margin-top: 32px;
    }
    .main-text-space h1 {
        font-family: oxygenB;
        font-size: 40px;
        margin: 0;
        line-height: 80px;
    }
    .main-text-space h2 {
        font-family: oxygenB;
        font-size: 30px;
        margin: 0;
    }
    .main-text-space p {
        width: 390px;
    }
    .about-sections {
        display: none;
        width: 420px;
        height: initial;
    }
}

@media only screen and (max-width: 630px) {
    .main-text-space p {
        width: 360px;
    }
    .about-sections {
        display: none;
        width: 380px;
        height: initial;
    }
}

@media only screen and (max-width: 580px) {
    .about-sections {
        display: none;
        width: 310px;
        height: initial;
    }
    .main-upper-text {
        font-size: 24px;
        font-family: robotoR;
    }
    .main-text-space {
        padding-left: 40px;
        font-family: oxygenB;
    }
    .main-upper-space {
        height: 120px;
        padding-top: 40px;
        padding-left: 40px;
    }
    .main-button-space {
        height: 120px;
        padding-left: 40px;
        margin-top: 32px;
    }
    .main-text-space h1 {
        font-family: oxygenB;
        font-size: 34px;
        margin: 0;
        line-height: 80px;
    }
    .main-text-space h2 {
        font-family: oxygenB;
        font-size: 26px;
        margin: 0;
    }
    .main-text-space p {
        width: 290px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .about-sections {
        display: none;
        width: 290px;
        height: initial;
    }
    .slideshow-container {
        margin-top: 30px;
        border: 3px solid #060608;
        width: 310px;
        height: 140px;
        position: relative;
    }
    .slideshow-container img {
        width: 310px;
        height: 130px;
    }
    .sidebar-socials {
        height: 300px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: start;
        font-size: 25px;
    }
    .sidebar {
        float: left;
        background-color: #060608;
        width: 68px;
        text-align: center;
    }
    .main-upper-text {
        font-size: 20px;
        font-family: robotoR;
    }
    .main-text-space {
        padding-left: 25px;
        font-family: oxygenB;
    }
    .main-upper-space {
        height: 120px;
        padding-top: 40px;
        padding-left: 25px;
    }
    .main-button-space {
        height: 120px;
        padding-left: 25px;
        margin-top: 32px;
    }
    .main-text-space h1 {
        font-family: oxygenB;
        font-size: 30px;
        margin: 0;
        line-height: 80px;
    }
    .main-text-space h2 {
        font-family: oxygenB;
        font-size: 22px;
        margin: 0;
    }
    .main-text-space p {
        width: 280px;
        font-size: 13px;
    }
    .contact-text {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 450px) {
    .about-sections {
        display: none;
        width: 280px;
        height: initial;
    }
    .about-us-next {
        font-size: 40px;
        width: 35px;
    }
}

@media only screen and (max-width: 420px) {
    .about-sections {
        display: none;
        width: 275px;
        height: initial;
    }
    .main-text-space p {
        width: initial;
        font-size: 14px;
    }
    .slideshow-container {
        margin-top: 30px;
        border: 3px solid #060608;
        width: 260px;
        height: 140px;
        position: relative;
    }
    .slideshow-container img {
        width: 26 0px;
        height: 130px;
    }
    .main-text-space h1 {
        font-family: oxygenB;
        font-size: 27px;
        margin: 0;
        line-height: 80px;
    }
    .main-text-space h2 {
        font-family: oxygenB;
        font-size: 20px;
        margin: 0;
    }
}

@media only screen and (max-width: 380px) {
    .slideshow-container {
        margin-top: 30px;
        border: 3px solid #060608;
        width: 250px;
        height: 140px;
        position: relative;
    }
    .slideshow-container img {
        width: 250px;
        height: 130px;
    }
    .sidebar-socials {
        height: 300px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: start;
        font-size: 20px;
    }
    .sidebar {
        float: left;
        background-color: #060608;
        width: 48px;
        text-align: center;
    }
    .main-upper-text {
        font-size: 18px;
        font-family: robotoR;
    }
    .main-text-space {
        padding-left: 25px;
        font-family: oxygenB;
    }
    .main-upper-space {
        height: 120px;
        padding-top: 40px;
        padding-left: 25px;
    }
    .main-button-space {
        height: 120px;
        padding-left: 25px;
        margin-top: 32px;
    }
    .main-text-space h1 {
        font-family: oxygenB;
        font-size: 22px;
        margin: 0;
        line-height: 80px;
    }
    .main-text-space h2 {
        font-family: oxygenB;
        font-size: 18px;
        margin: 0;
    }
    .main-text-space p {
        width: 280px;
        font-size: 12px;
    }
    .contact-text {
        font-size: 14px !important;
    }
}